[flake8]
docstring-convention=all
import-order-style=pycharm

exclude=
    __init__.py


ignore=

    # Docstrings
    C0114, D100, D104, D107, D203, D212, D213

    # Annotations
    ANN101, ANN002, ANN003

    # FastAPI loves function calls in params
    B008
