:root {
    --White: #F6F6F6;
    --Background: #3F3F46;
    --GitHub: #333;
    --Discord: #5865F2;
}

body {
    background: var(--Background);
    color: var(--White);
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--Discord);
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  padding-left: 1rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.alert-container {
  position: absolute;
  top: 5px;
  width: 50vw;
  font-size: 1.75rem;
}

.error-banner {
  padding: 10px;
  color: white;
  background-color: #e65449;
  margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

footer {
    bottom: 0;
}

.mainApp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.devAppButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.devAppButtonGroup a {
  width: 150px;
}

.noteText {
  font-size: 0.75rem;
}

.editCallbackForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.button-submit {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-info {
  background-color: #4092b3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-warning {
  background-color: #b39e40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-danger {
  background-color: #b34040;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.developerApps {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.developerApps a {
    color: white;
    font-size: 2rem;
}

.appInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#loginContent {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    font-size: 6rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
}

#subtitle {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-shrink: 0;
}

#login-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;

    height: 33vh;

    width: 66vw;
}

#warning-text {
  color: rgb(234 88 12);
}

button[id^="login-"] {
    color: var(--White);
    border-radius: 10px;
    border: none;

    display: flex;
    width: 100%;

    height: 15%;
    align-items: center;
    gap: 5%;

    font-size: 2rem;
}

button[id^="login-"] > svg {
    height: 66%;
    margin: 3% 0 3% 3%;
}


#login-discord {
    background: var(--Discord);
}

#login-github {
    background: var(--GitHub);
}

@media (min-width: 1024px) {
    #title {
        font-size: 4rem;

    }

    #subtitle {
        font-size: 1.25em;

    }

    #login-buttons {
        width: 33vw;
    }

    button[id^="login-"] {
        font-size: 1.25rem;
    }
}
