{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
    <div class="mainApp">
        <p>Application ID: {{ dev_app_id }}</p>
        <p>Owner ID: {{ owner_id }}</p>
        <p>Callback URIs:</p>
        <ul>
            {% for uri in callback_uris %}
                <li>{{ uri }}</li>
            {% endfor %}

        </ul>

        <div>
            <a href="/ui/applications/{{ dev_app_id }}/edit_callback_uris">Edit Callback URIs</a>
        </div>

        <a href="/ui/applications/{{ dev_app_id }}/reset_token">Reset Token</a>
        <a href="/ui/applications/{{ dev_app_id }}/delete_application">Delete Application</a>
    </div>
{% endblock %}
