<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AbandonAuth</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div>
        <p>Application ID: {{ dev_app_id }}</p>
        <p>Callback URIs:</p>
        <ul>
            {% for uri in callback_uris %}
                <li>{{ uri }}</li>
            {% endfor %}

        </ul>
        <form method="post">
            <label for="new_callback_uris">New Callback URIs</label>
            <input type="text" id="new_callback_uris" name="new_callback_uris" value="{{ callback_uris_form_value }}">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>
