<div class="navbar">
    <h2><a href="/ui">Abandon Auth</a></h2>
    <ul>
        <li><a href="/ui">Home</a></li>
        <li><a href="/ui/applications">Developer Applications</a></li>
        <li><a href="/docs" target="_blank">Docs</a></li>
        {% if authenticated %}
            <li>
                <a href='javascript:;' onclick="deleteAuthCookie()">Logout</a>
            </li>
        {% endif %}
    </ul>
</div>

<script>
    function deleteAuthCookie(){
        document.cookie = "Authorization" +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        location.reload();
    }
</script>
